* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


/* NAVBAR */
.navbar{
  width: 100%;
  background-color: green;
  padding: 2%;
  color: white;
  position:fixed;
  display: flex;
  justify-content: space-between;
  height: 11%;
}
.navbar h1{
  align-self: center;
}

.navlist{
  margin-right: 10%;
  align-self: center;
}
.navbar .navlist ul{
  display: flex;
  list-style: none;
  font-size: large;
 
}

.navbar .navlist ul li{
  align-self: center;
  padding: 5%;
}
.navbar .navlist ul li .user-icon{
  width: 118px;
  background-color: chartreuse;
  padding: 10%;
  border-radius: 25px;
  display:flex;
  align-self: center;
}
.navbar .navlist ul li .user-icon i{

  background-color: gray;
  padding: 5%;
  border-radius: 15px;
  align-self: center;

}
.navbar .navlist ul li .user-icon p{
  align-self: center;

}

.site-preferences{
    font-size: 250%;
    font-weight:100;
    padding: 9% 3% 5% 5%;
    margin-left: 150px;
    top: 150px;
}

.site-preferences p{
    padding-bottom: 2%;
    font-family: 'Cairo';
    font-family: 300;
    margin-left: 170px;
    top: 150px;
}
.genset-searchset{
    font-size: 100%;
    font-weight:100;
    padding: 2% 5% 2% 5%;
    display: flex;
    justify-content: space-between; 
    margin-left: 300px;   
}

.genset-searchset h1{
  font-family: 'Cairo';
  top: 60px;
}
.genset-searchset input{
    width: 25%;
}

.make-block{

    display: block;
    padding-left: 6%;
    padding-bottom: 5%;
}

.make-flex{
    display: flex;
    font-size: 200%;
    padding-top: 4%;
    align-self:center;
    margin-left: 330px;
    margin-bottom: 0px;

}
.make-flex a{
    text-decoration: none;
    font-size: inherit;
    display: inherit;
    padding: none;
    font-family: 'Cairo';
    color: black;
}

/*++++++++++++++++++++++++++++TOGGLE++++++++++++++++++++++++++++*/

.toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #707070;
    transition: background-color ease 0.3s;
    margin-left: 40px;
  }
  
  .toggle:before {
    content: "on off";
    display: block;
    position: absolute;
    z-index: 2;
    width: 28px;
    height: 28px;
    background: #fff;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: -22px;
    word-spacing: 37px;
    color: #fff;

    white-space: nowrap;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
  }
  
  .toggle:checked {
    background-color: #4CD964;
  }
  
  .toggle:checked:before {
    left: 32px;
  }

  /*++++++++++++++++++++++++++++RANGE++++++++++++++++++++++++++++*/

  .rangeInput{
    width: 20%;
    margin-left: 340px;
  }

  /*SIDE BAR NAV*/
.sidebar_nav{
  position: fixed;
  width: 90px;
  height: 1024px;
  left: 0px;
  top: 78px;
  
  background-color: #00072D;

}

.sidebar_nav.active{width: 350px;}


.sidebar_nav ul{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 5px;
  padding-top: 150px;
}

.sidebar_nav ul li{
  position: relative;
  display: block;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.sidebar_nav ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #FF6B00;
}

.sidebar_nav ul li a .icon{
  position: relative;
  display: block;
  min-width: 65px;
  height: 100px;
  width: 50px;
  top: 50px;
  line-height: 130px;
  text-align: center;
  left: 5px;
 
}

.sidebar_nav ul li a .icon1, .icon2, .icon3, .icon4{
  position: relative;
  display: block;
  min-width: 80px;
  height: 100px;
  top: 50px;
  line-height: 120px;
  text-align: center;
  left: 0px;
  margin-left: 0px;
}

.sidebar_nav ul li a .icon img{max-width: 50%;}



.sidebar_nav ul li a .title1{
  position: relative;
  display: block;
  padding-left: 5px;
  height: 40px;
  top: 25px;
  line-height: 150px;
  white-space: normal;
  color: white;
}

.sidebar_nav ul li a .icon1:hover,.icon2:hover,.icon3:hover,.icon4:hover{

  background: linear-gradient(90deg, #00147D 29.85%, rgba(0, 20, 125, 0.5624) 82.51%, rgba(0, 20, 125, 0) 100%);
  
}



/*MENU/hamburger icon*/

.menu{
  position: fixed;
  top: 50px;
  left: 10px;
  float: left;
}
.menu.active{left: 200px;}

.menu ion-icon{
  position: absolute;
  color: #FF6B00;
  font-size: 34px;
  display: none;
  width: 70px;
  top: 100px;

}

/*hide option texts*/
#defaulthide1, #defaulthide2, #defaulthide3, #defaulthide4{
  visibility: hidden;
}

/* Open round */
.menu ion-icon.open,
.menu.active ion-icon.close{

  display:grid;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 100px;

/* Close_round */
}
.menu ion-icon.close,
.menu.active ion-icon.open{
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 100px;
}
